<!-- this file was created to take care of all the nav code in our website-->

<nav>
    <div class="site-title">
        <a href="/"><h1>AYISIN CONNECT</h1></a>
        <p>Express Your Thoughts Freely</p>
    </div>

<ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About-us</a></li>
    <li><a href="/create">Add New Post</li>
</ul>
</nav>