<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Ayisin-Blog | <%= title %> </title>
</head>
<body>
   <nav>
       <div class="site-title">
           <a href="/"><h1>AYISIN CONNECT</h1></a>
           <p>Express Your Thoughts Freely</p>
       </div>

   <ul>
       <li><a href="/">Blogs</a></li>
       <li><a href="/about">About-us</a></li>
       <li><a href="/create">Add New Post</li>
   </ul>
</nav>


<div class="blog-content">
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, aliquam eos nesciunt laborum expedita sed ullam architecto nobis officia cumque necessitatibus accusantium dicta provident nostrum voluptate natus enim amet deleniti.</p>
</div>



<footer>
    Copyright &copy; Ayisin Connect 2021
  </footer>

</body>
</html>